### use # to comment out the configure item

################ Status ################
mode=interactive_predict
# string: train/interactive_predict

################ Datasets(Input/Output) ################
datasets_fold=data/example_datasets
train_file=train.csv
dev_file=dev.csv

delimiter=b
# string: (t: "\t";"table")|(b: "backspace";" ")|(other, e.g., '|||', ...)

# Finetune-Bert+Crf: use_bert=True, use_bilstm=False, finetune=True
# Finetune-Bert+BiLstm+Crf: use_bert=True, use_bilstm=True, finetune=True
# Bert+BiLstm+Crf: use_bert=True, use_bilstm=True, finetune=False
# BiLstm+Crf: use_bert=False, use_bilstm=True, finetune=False

use_bert=True

use_bilstm=False

finetune=True

vocabs_dir=data/example_datasets/vocabs

log_dir=data/example_datasets/logs

checkpoints_dir=checkpoints/finetune-bert-crf

checkpoint_name=model

################ Labeling Scheme ################
label_scheme=BIO
# string: BIO/BIESO

label_level=2
# int, 1:BIO/BIESO; 2:BIO/BIESO + suffix
# max to 2

hyphen=-
# string: -|_, for connecting the prefix and suffix: `B_PER', `I_LOC'

suffix=[ORG,PER,LOC]
# unnecessary if label_level=1

measuring_metrics=[precision,recall,f1,accuracy]
# string: accuracy|precision|recall|f1
# f1 is compulsory

################ Model Configuration ################
embedding_dim=300
# int

hidden_dim=200

max_sequence_length=100
# int, cautions! set as a LARGE number as possible,
# this will be kept during training and inferring, text having length larger than this will be truncated.

CUDA_VISIBLE_DEVICES=0
# int, -1:CPU, [0,]:GPU
# coincides with tf.CUDA_VISIBLE_DEVICES

seed=42

################ Training Settings ################
epoch=300
batch_size=32

dropout=0.5
learning_rate=5e-5

optimizer=Adam
# string: SGD/Adagrad/AdaDelta/RMSprop/Adam

checkpoints_max_to_keep=1
print_per_batch=20

is_early_stop=True
patient=5
# unnecessary if is_early_stop=False

